.lead {
    width: 100%;
    max-width: 1184px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

@media screen and (max-width: 1024px) {
    .lead {
        width: 90%;
    }   
} 
