.cover__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    width: 50%;
    transition: ease-out 0.3s;
    margin-top: 32px;
}



@media screen and (max-width: 450px) {
    .cover__subtitle {
        width: 90%;
        font-size: 14px;
        line-height: 114%;
        margin-top: 16px;
    }    
}