.cover__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    transition: ease-out 0.3s;
    margin-top: 32px;
    width: 35%;
}

@media screen and (max-width: 768px) {
    .cover__subtitle {
        width: 55%;
    }    
}

@media screen and (max-width: 450px) {
    .cover__subtitle {
        width: 90%;
        font-size: 14px;
        line-height: 114%;
        margin-top: 16px;
    }    
}