.header__logo {
    width: 177px;
    height: 52px;
}

.header__logo:hover {
    opacity: 0.8;
    transition: ease-in 0.2s;
}

@media screen and (max-width: 760px) {
    .header__logo {
        width: 142px;
        height: 42px;
    }    
}