.footer__link {
   list-style-type: none; 
   margin-right: 18px;
   transition: ease-out 0.3s;
}

.footer__link:last-child {
    margin: 0;
 }

@media screen and (max-width: 450px) {
    .footer__link {
        display: flex;
        margin-bottom: 32px;
    }   
}