.lead__title {
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    margin: 56px 0 0 0;
    width: 80%;
    transition: ease-out 0.3s;
}

@media screen and (max-width: 1024px) {
    .lead__title {
    margin-top: 48px;
    width: 90%;
    } 
}

@media screen and (max-width: 768px) {
    .lead__title {
        width: 100%;
    } 
}

@media screen and (max-width: 760px) {
    .lead__title {
        font-size: 40px;
        line-height: 44px;  
    } 
}
