.lead__image {
    background-image: url('../../../images/lead-polka.jpg');
    display: flex;
    justify-content: center;
    width: 100%;
    background-size: cover;
    object-fit: cover;
    transition: ease-out 0.3s;
}

@media screen and (max-width: 1024px) {
    .lead__image {
        height: 100%;
    } 
}