.intro__text {
    width: 70%;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 163%;
    margin: 40px 0 32px 0;
    transition: ease-out 0.3s;
}

@media screen and (max-width: 1024px) {
  .intro__text {
    padding-left: 5%;
  }   
} 

@media screen and (max-width: 768px) {
  .intro__text {
    width: 90%;
  }   
} 