.intro {
    width: 100%;
    max-width: 1184px;
    display: flex;
    flex-direction: column;
    margin: 92px auto;
    transition: ease-out 0.3s;
}

@media screen and (max-width: 768px) {
    .intro {
        margin-top: 88px;
    }   
} 

@media screen and (max-width: 320px) {
    .intro {
        margin-top: 64px;
        margin: 64px auto;
    }   
} 