.lead__subtitle {
    width: 80%;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    margin-bottom: 64px;
    transition: ease-out 0.3s;
}

@media screen and (max-width: 320px) {
    .lead__subtitle {
        font-size: 16px;
        line-height: 20px; 
        margin-bottom: 40px;
    }  
} 