.cover__title {
    display: flex;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    justify-content: center;
    text-align: center;
    transition: ease-out 0.3s;
    margin: 0;
    width: 48%;
}

@media screen and (max-width: 1024px) {
    .cover__title {
        width: 56%;
    }    
}

@media screen and (max-width: 768px) {
    .cover__title {
        width: 70%;
    }    
}

@media screen and (max-width: 725px) {
    .cover__title {
        font-size: 52px;
        line-height: 55px;
    }    
}

@media screen and (max-width: 450px) {
    .cover__title {
        width: 75%;
        font-size: 32px;
        line-height: 35px;
    }    
}