.header__lang-links {
    display: flex;
    list-style-type: none;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    transition: ease-out 0.3s;
    align-items: center;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 760px) {
    .header__lang-links {
        font-size: 18px;
        line-height: 20px;
    }  
}