.cover__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transition: ease-out 0.3s;
  color: #fff;
}

@media screen and (max-width: 450px) {
    .cover__content {
        max-width: 90%;
    }    
}