.cover__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transition: ease-out 0.3s;
}

@media screen and (max-width: 320px) {
    .cover__content {
        max-width: 288px;
    }    
}