.intro__title { 
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  margin: 0;
  transition: ease-out 0.3s;
}

@media screen and (max-width: 1024px) {
  .intro__title {
    padding-left: 5%;
  }   
} 

@media screen and (max-width: 320px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }   
} 